
/*General*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/*Body*/
body {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(226, 173, 74, 0.661); }

.contenedorPadre {
  display: grid;
  margin: 25px auto;
  width: 90% auto;
  height: 82vh;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header header"
 "section section"
 "h1 h1"
 "main main"
 "aside aside"
 "footer footer"; }

/*Body*/
/*------------------------------------*/
/*Header*/
header {
  color: green;
  text-decoration: none;
  width: 100%;
  height: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
  grid-area: header; }

/*Header*/
/*Menu barra de navegación*/
.menuBarraNav {
  padding: 1rem;
  list-style-type: none;
  margin: 0.7rem;
  font-size: 0;
  display: flex; }

.menuBarraNav li {
  display: inline-block;
  text-align: center;
  padding: 0.7rem;
  margin: 0.7rem; }

.menuBarraNav li a {
  color: #070706;
  text-decoration: none;
  font-size: 25px; }

.menuBarraNav li a:hover {
  font-size: 27px;
  color: #f3f1ee;
  font-weight: bold;
  transform: scale(20px, 50px); }

/*------------------------------------*/
/*Main*/
.section {
  grid-area: section; }

.main {
  grid-area: main; }

.cajaParrafo0 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: normal;
  align-items: flex-start;
  padding: 30px;
  line-height: 50px;
  background: radial-gradient(#d8d7d3, #a57d18); }

.cajaParrafo1 {
  padding: 30px;
  line-height: 50px;
  background: radial-gradient(blue, violet); }

.cajaParrafo2 {
  padding: 30px;
  line-height: 50px;
  background: radial-gradient(blue, violet); }

.cajaParrafo3 {
  padding: 30px;
  line-height: 50px;
  background: radial-gradient(blue, violet); }

.cajaParrafo4 {
  padding: 30px;
  line-height: 50px;
  background: radial-gradient(blue, violet); }

.parrafoPrincipal {
  color: black;
  font-size: 10px;
  font-weight: bolder;
  text-align: left; }

.fotoPrincipalImagen {
  text-align: center; }

/*Plantas de interior*/
.cajaParrafo0 {
  display: inline-block; }

/*Plantas de interior*/
/*Main*/
/*------------------------------------*/
/*ASIDE*/
.aside {
  grid-area: aside;
  text-align: center; }

.parrafoAside {
  font-size: 25px;
  line-height: 35px; }

.fotoPrincipalAside {
  width: 100%;
  height: 400px; }

/*------------------------------------*/
/*Footer*/
.footer {
  color: black;
  text-align: left;
  margin: 20px;
  grid-area: footer; }

footer div ul li a {
  color: black;
  font-weight: bolder;
  text-decoration: none; }

footer div ul li {
  list-style-type: none;
  margin: 20px; }

footer div p {
  color: #0e0e0e;
  font-weight: bolder;
  margin: 20px; }

/*Footer*/
/*------------------------------------*/
/*H1 H2 H3 H4*/
.h1h1 {
  display: flex;
  text-decoration: none; }

h2 {
  color: #010101;
  font-size: 15PX;
  padding: 20px;
  text-decoration: underline; }

.h2PlantasInterior {
  font-weight: bold; }

h3 {
  color: calc(#dd870f);
  text-align: center; }

.h3PreguntaPlantaInterior {
  font-weight: bold; }

h4 {
  color: calc(#1bcd95);
  margin: 15px;
  padding: 15px; }

/*H1 H2 H3 H4*/
/*------------------------------------*/
/*Productos*/
.macetas {
  margin: 27px;
  padding: auto; }

.descripcionProductos {
  font-size: 20px;
  margin: 40px;
  width: 500px;
  height: 150px;
  overflow: hidden; }

/*Productos*/
/*------------------------------------*/
/*Contacto*/
fieldset {
  margin: 20px; }

/*Contacto*/
/*------------------------------------*/
/*Historia*/
.imgPropuesta {
  display: flex; }

/*Historia*/
/*------------------------------------*/
/*Tips*/
.listaTips {
  color: black;
  padding: 25px;
  padding-top: 2px;
  margin-top: 2px;
  margin-left: 5px;
  font-weight: bolder;
  text-align: left; }

.parrafoTip {
  color: black;
  margin-left: 15px; }

/*Tips*/
@media only screen and (min-width: 765px) {
  .contenedorPadre {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "header header"
 "menuBarraNav menuBarraNav"
 "section section"
 "h1 h1"
 "main aside"
 "footer footer"; } }

@media only screen and (min-width: 765px) {
  .contenedorPadre {
    gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "menuBarraNav"
 "section"
 "h1"
 "main"
 "footer"; } }

@media only screen and (min-width: 425px) {
  .contenedorPadre {
    gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "menuBarraNav"
 "section"
 "h1 h1"
 "main main"
 "footer footer"; } }
