/* base */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* components */
/* layouts*/
body {
  background-color: rgba(226, 173, 74, 0.661); }

/* pages */
/*index*/
.cajaParrafoIndex {
  text-align: center; }

.parrafoIndex {
  font-size: 30px; }

/* vendors 
@import "../scss/vendors/bootstrap";*/
