/* base */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* abstracts*/
/* components */
/* layouts*/
body {
  background-color: rgba(226, 173, 74, 0.661); }

.aside {
  grid-area: aside;
  text-align: center;
  display: flex;
  flex-wrap: nowrap; }
  .aside .parrafoAside {
    font-size: 25px;
    line-height: 35px; }

.fotoPrincipalAside {
  width: 400px;
  height: 500px; }

.cajasAside {
  display: flex; }

/* pages */
/*index*/
.cajaParrafoIndex {
  text-align: center;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  border: green 5px solid; }
  .cajaParrafoIndex .parrafoIndex {
    font-size: 30px; }

/* vendors 
@import "../scss/vendors/bootstrap";*/
