/* base */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* abstracts */
/*@mixin borde($color,$width) {
    border: $color $width solid;
    
}*/
/* Las variables se usan con el signo pesos y se suelen usar con colores especificos o algo que le quieras dar unas propiedas especificas*/
/*Luego se las llama con el signo pesos tambien*/
/* components */
@media screen and (max-width: 410px) {
  .grid-container {
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "containerPadreCards" "footer"; } }

@media screen and (max-width: 750px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header header header" "carusel carusel carusel" "containerPadreCards containerPadreCards aside" "barraHorizontal barraHorizontal barraHorizontal" "footer footer footer"; } }

/* layouts*/
.header {
  grid-area: header;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: #17b82f; }
  .header .barraDescuentos {
    background-color: #17b82f;
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: center; }

nav a img:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.5s; }

.footer {
  grid-area: footer; }

.main {
  grid-area: main; }

article {
  grid-area: article; }

aside {
  grid-area: aside; }

.main {
  grid-area: main; }

.barraHorizontal {
  display: grid; }

/* pages */
.containerPadreCards {
  display: flex; }

.titleCard {
  text-align: center;
  font-size: 40px;
  color: #6a6a6a;
  font-weight: 100px;
  font-family: 'Roboto', sans-serif;
  margin-left: 100px; }

.cardDireccion {
  margin-left: 100px; }

/* Cards */
.card {
  letter-spacing: 0.02rem;
  line-height: 1.2;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  margin-left: 90px;
  width: 350px; }

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.containerPadreCards .card img {
  text-align: center;
  width: 325px;
  height: 220px; }

.containerPadreCards .card h4 {
  font-weight: 600; }

.containerPadreCards .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300; }

.containerPadreCards .card a {
  font-weight: 500;
  text-decoration: none;
  color: #18b976; }

/* NuestroCompromiso */
.barraHorizontal {
  background-color: green;
  text-align: center;
  color: aliceblue;
  letter-spacing: 0.02rem;
  line-height: 1.2;
  margin: auto; }
  .barraHorizontal .nuestroCompromiso {
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    display: flex; }

.titleHorizontal {
  text-align: center; }

.containerAside {
  margin: 70px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between; }

.bodyContacto {
  background-color: #341ddf; }

h2 {
  color: #df2424; }

/* vendors 
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/nav.scss";
@import "../../node_modules/bootstrap/scss/navbar.scss";
@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.css";*/
