.aside {
	grid-area: aside;
	text-align: center;
	display: flex;
	flex-wrap: nowrap;
	.parrafoAside {
		font-size: 25px;
		line-height: 35px;
	}
}
.fotoPrincipalAside {
	width: 400px;
	height: 500px;
}

.cajasAside{
	display: flex;
}