.footer {
	color: black;
	text-align: left;
	margin: 20px;
	grid-area: footer;
}
footer {
	div {
		ul {
			li {
				a {
					color: black;
					font-weight: bolder;
					text-decoration: none;
				}
				list-style-type: none;
				margin: 20px;
			}
		}
		p {
			color: #0e0e0e;
			font-weight: bolder;
			margin: 20px;
		}
	}
}