
.header{
	grid-area: header;
	position: sticky;
	top: 0px;
	z-index: 1;
	background-color: rgb(23, 184, 47);
	.barraDescuentos{
		background-color: rgb(23, 184, 47);
		color: white;
		padding: 0px;
		margin: 0px;
		text-align: center;
	}
}
