
.header{
	grid-area: header;
	display: flex;
	flex-wrap: wrap;
	top: 0px;
	width: 100%;
	position: sticky;
	z-index: 1;
}


.containerNav{
	width: 100%;
}



.containerBarraDescuentos{
	background-color: rgb(23, 184, 47);
	color: white;
	padding: 0px;
	margin: 0px;
	width: 100%;
	text-align: center;
	z-index: 0;
	text-align: center;
	
}
