
.cajaParrafo0 {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: normal;
	align-items: flex-start;
	padding: 30px;
	line-height: 50px;
	background: radial-gradient(#d8d7d3, #a57d18);
	display: inline-block;
}
.parrafoPrincipal {
	color: black;
	font-size: 10px;
	font-weight: bolder;
	text-align: left;
}
.fotoPrincipalImagen {
	text-align: center;
}
.macetas {
	margin: 27px;
	padding: auto;
}
.descripcionProductos {
	font-size: 20px;
	margin: 40px;
	width: 500px;
	height: 150px;
	overflow: hidden;
}
fieldset {
	margin: 20px;
}
.imgPropuesta {
	display: flex;
}
.listaTips {
	color: black;
	padding: 25px;
	padding-top: 2px;
	margin-top: 2px;
	margin-left: 5px;
	font-weight: bolder;
	text-align: left;
}
.parrafoTip {
	color: black;
	margin-left: 15px;
}
