@media screen and (max-width: 410px){
		.grid-container{
		display: grid;
		grid-template-columns:5fr;
		grid-template-rows: repeat(3,auto);
		grid-template-areas: 
		"header"
		"containerPadreCards"
		"footer";
	}
}


@media screen and (max-width: 750px){
		.grid-container{
		display: grid;
		grid-template-columns:1fr 3fr 1fr ;
		grid-template-rows: repeat(5,auto);;
		grid-template-areas: 
		"header header header"
		"carusel carusel carusel"
		"containerPadreCards containerPadreCards aside"
		"barraHorizontal barraHorizontal barraHorizontal"
		"footer footer footer";
	}
}


