.h1h1 {
	display: flex;
	text-decoration: none;
}
h2 {
	color: #010101;
	font-size: 15PX;
	padding: 20px;
	text-decoration: underline;
}
.h2PlantasInterior {
	font-weight: bold;
}
h3 {
	color: calc(#dd870f);
	text-align: center;
}
.h3PreguntaPlantaInterior {
	font-weight: bold;
}
h4 {
	color: calc(#1bcd95);
	margin: 15px;
	padding: 15px;
}