/* Las variables se usan con el signo pesos y se suelen usar con colores especificos o algo que le quieras dar unas propiedas especificas*/
/*Luego se las llama con el signo pesos tambien*/


$colorTitulosFooter: rgb(245, 243, 241);
$colorTitulosh4: rgb(174, 108, 31);
$colorFooter:rgb(9, 59, 22);
